@import url("./styles/reset.css");
@import url("./styles/vars.css");
@import url("./styles/Inputs.css");

html,
body {
    font-family: 'Manrope', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--dark-gray);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    filter: brightness(80%);
}